version: '3.3'
services:
  derper:
    restart: unless-stopped
    environment:
      - DERP_DOMAIN={{ domain }}
      - DERP_CERT_MODE=manual
      - DERP_VERIFY_CLIENTS=true
    ports:
      - "{{ https_port }}:443"
      - "{{ http_port }}:80"
      - "3478:3478/udp"
    volumes:
      - "/etc/letsencrypt/live/{{ domain }}/fullchain.pem:/app/certs/{{ domain }}.crt"
      - "/etc/letsencrypt/live/{{ domain }}/privkey.pem:/app/certs/{{ domain }}.key"
      - /var/run/tailscale:/var/run/tailscale
    container_name: derper
    image: 'fredliang/derper'
    network_mode: bridge

